# Google Gemini API key (automatically injected in AI Studio)
GEMINI_API_KEY=
PORT=3000
GOOGLE_SHEETS_API_URL=https://script.google.com/macros/s/AKfycbw81u3pmNs7Acrun_VFpSL7ulyuYnLsbe5A3Isit69JCKit8iVbojMwBdcHxWxzf4gq/exec
